{% if site.two_columns_layout %}
<div class="w3-ul">
 <aside class="see-also">
   <h2>{{ site.translations.text.see_also | default: "Series Videos" }}</h2>
   {% for post in site.posts %}
        {% if page.series == post.series %}
        <a style="{% if page.url == post.url %} color:red;
        }
    {%endif%}"

         href="{{post.url}}"> <h3> {{post.video_number}}: {{post.title}} </h3>

      </a></li><br>

        {% endif %}

   {% endfor %}
 </aside>
 {% endif %}


 <!-- {% if site.two_columns_layout %}
     <aside class="see-also">
         <h2>{{ site.translations.text.see_also | default: "See Alsoo" }}</h2>

         <ul>
             {% assign next_posts = site.posts | where_exp:"post","post.is_generated != true" | where_exp:"post","post.path != page.path" %}
             {% assign shuffled_array = next_posts | shuffle %}
             {% for post in shuffled_array limit:3 %}
                 <li>
                     <a href="{{ post.url | prepend: site.baseurl }}">
                         {% if post.optimized_image %}
                             <img src="{{ post.optimized_image }}">
                         {% elsif post.image %}
                             <img src="{{ post.image }}">
                         {% else %}
                             <img src="/assets/img/off.jpg">
                         {% endif %}
                         <h3>{{ post.title }}</h3>
                     </a>
                 </li>
             {% endfor %}
         </ul>
     </aside>
 {% endif %} -->
